/*(C) Copyright 2023 Airoha Technology Corp.
 * 
 *  Shubham Jain, Shubham.jain@airoha.common.
 *  Zhengping Zhang , zhengping.zhang@airoha.com
*/ 
if TARGET_EN7523

config SYS_BOARD
       default "en7523"

config SYS_VENDOR
       default "airoha"

config SYS_CONFIG_NAME
       default "en7523"

endif
